@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://fonts.googleapis.com);
@import url(https://fonts.gstatic.com);

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: hsl(47, 88%, 63%);
}
.card {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0.5rem 0.5rem black;
}
.button {
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.h1 {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}.h1:hover{
  color: hsl(47, 88%, 63%) ;
  cursor: pointer;
}
.h2 {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
